@font-face{
    font-family:Noto-Sans-JP;
    src: url(../fonts/NotoSansJP-Regular.otf);
}
*{
    font-family:Noto-Sans-JP;
}
#header{
    background-color:#0062FF;    
}
a{
    padding: 0 2.5em;        
}
hr{
    border-top: 0.2em;
    border-top-style: solid;    
    color: #A8ABAD;    
}
footer{
    color: #212121;
}
#boton{
    background-color: #212121;    
}
.margen{
    padding: 2rem 9rem ;
}
.errores{
    color:#FF0000  ;
}

@media screen and (min-width:767.5px){
#header{
    padding: 1.5rem 9rem ;
}

}
@media screen and (max-width:767.5px){
    .margen{
        padding: 0;
    }
}


